{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_image = current_variant.image | default: product.featured_image
  assign secondary_image = product.images[1] | default: product.featured_image
%}


<custom-product-card
class="product-card"
 data-product-handle="{{ product.url | within: collection }}" 
  data-section-id="{{ section_id }}">

  <a href="{{ current_variant.url }}">
    <div class="product-card__image-container">
      {% render 'custom-product-image', featured_image:featured_image, secondary_image:secondary_image %}
    </div>
  </a>

  <div class="product-card__info">

    <div class="product-card__form center">
      {% form 'product', product %}
        <input type="hidden" name="id" value="{{ current_varient.id }}">

        {% unless product.has_only_default_variant %}
          <ul class="product-card__variants">
            {% for product_option in product.options_with_values %}
              {% assign downcased_option_name = product_option.name | handleize %}
              
              <li>
                <ul class="product-card__variant">
                  {% for option_value in product_option.values %}
                    <li>
                      {% assign downcased_option_value = option_value | handleize %}
                  
                      <label>
                        <input 
                          type="radio" 
                          class="product-card__variant-input"
                          name="{{ product_option.name | handleize }}" 
                          value="{{ option_value }}"
                          {% if product_option.selected_value == option_value %}checked{% endif %}
                        >
  
                        {% if downcased_option_name == 'color' %}
                        
                          {% comment %} 
                          {% assign swatch_image = downcased_option_value | append: '.jpg' | file_url %}
                            Iamges and swatch colors
                              <div class="product-card__swatch-container">
                              <span
                              class="product-card__swatch product-card__colorswatch"
                              style="background-color: {{ downcased_option_value }};background-image: url({{ swatch_image }});"
                              ></span>
                              </div> 
                          {% endcomment %}

                          <div class="item-swatch product-card__swatch-container">
                              <div class="color-variant-box">
                                  <div class="product-card__swatch product-card__colorswatch color-variant" data-value="{{ downcased_option_value }}"> </div>
                              </div>
                          <div>    

                        {% else %}
                          <span class="product-card__swatch product-card__sizeswatch">{{ option_value }}</span>
                        {% endif %}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      {% endform %} 
    </div>

    <div class='jdgm-widget jdgm-preview-badge center'>
      {{ product.metafields.judgeme.badge }}
    </div>

    <div class="product-card__vendor"> {{ product.vendor }} </div>
    <a href="{{ product.url }}" class="product-card__title h3">{{ product.title }}</a>
    <div class="product-card__prices">
      <span class="product-card__price">{{ current_variant.price | money_without_trailing_zeros }}</span>
      {% if current_variant.compare_at_price > current_variant.price %}
      <s class="product-card__compareprice">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
      {% endif %}
    </div>
    <div class="product-card__stock">
      {% if current_variant.inventory_quantity > 10 %}
      <div class="product-card__stock-more">{{ current_variant.inventory_quantity | append: ' in stock' }}</div>
      {% else %}
      <div class="product-card__stock-less">{{ current_variant.inventory_quantity | prepend: 'Only ' | append: ' units left' }}</div>
      {% endif %}
    </div>
  </div>

  <script>
    {{ product.variants | json }}
  </script>

</custom-product-card>