{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-visual-display.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {%- if filter_type == 'vertical' or filter_type == 'horizontal' -%}
    <facet-filters-form class="facets small-hide">
      <form
        id="FacetFiltersForm"
        class="{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}"
      >
        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}

        {% if enable_filtering %}
          {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
          <div
            id="FacetsWrapperDesktop"
            {% if filter_type == 'horizontal' %}
              class="facets__wrapper"
            {% endif %}
          >
            {%- if filter_type == 'horizontal' and results.filters != empty -%}
              <h2 class="facets__heading caption-large text-body" id="verticalTitle" tabindex="-1">
                {{ 'products.facets.filter_by_label' | t }}
              </h2>
            {%- endif -%}
            {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
            {%- if filter_type == 'vertical' -%}
              <div class="active-facets active-facets-desktop">
                <div class="active-facets-vertical-filter">
                  {%- unless results.filters == empty -%}
                    <h2
                      class="facets__heading facets__heading--vertical caption-large text-body"
                      id="verticalTitle"
                      tabindex="-1"
                    >
                      {{ 'products.facets.filter_by_label' | t }}
                    </h2>
                  {%- endunless -%}
                  <facet-remove class="active-facets__button-wrapper">
                    <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                      <span>{{ 'products.facets.clear_all' | t }}</span>
                    </a>
                  </facet-remove>
                </div>
                {%- for filter in results.filters -%}
                  {%- for value in filter.active_values -%}
                    <facet-remove>
                      <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                        <span class="active-facets__button-inner button button--tertiary">
                          {{ filter.label | escape }}: {{ value.label | escape }}
                          {% render 'icon-close-small' %}
                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endfor -%}
                  {% if filter.type == 'price_range' %}
                    {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                      <facet-remove>
                        <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                          <span class="active-facets__button-inner button button--tertiary">
                            {%- if filter.min_value.value -%}
                              {{ filter.min_value.value | money }}
                            {%- else -%}
                              {{ 0 | money }}
                            {%- endif -%}
                            -
                            {%- if filter.max_value.value -%}
                              {{ filter.max_value.value | money }}
                            {%- else -%}
                              {{ filter.range_max | money }}
                            {%- endif -%}
                            {% render 'icon-close-small' %}
                            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </div>
            {%- endif -%}

            <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
            {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
            {%- for filter in results.filters -%}
              {% liquid
                assign total_active_values = total_active_values | plus: filter.active_values.size
                case filter.presentation
                  when 'swatch'
                    assign has_visual_display = true
                    assign show_more_number = 15
                    assign visual_layout_class = 'facets-layout-grid facets-layout-grid--' | append: filter.presentation
                  else
                    assign has_visual_display = false
                    assign visual_layout_class = 'facets-layout-list'
                    assign show_more_number = 10
                endcase
              %}

              {% case filter.type %}
                {% when 'boolean', 'list' %}
                  <details
                    id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                    class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                    data-index="{{ forloop.index }}"
                    {% if filter_type == 'vertical' and forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary
                      class="facets__summary caption-large focus-offset"
                      aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                    >
                      <div>
                        <span class="facets__summary-label">
                          {{- filter.label | escape }}
                          {%- if filter_type == 'vertical' -%}
                            <span class="facets__selected no-js-hidden{% if filter.active_values.size == 0 %} hidden{% endif %}">
                              ({{ filter.active_values.size }})</span
                            >
                          {%- endif -%}
                        </span>
                        {%- if filter_type == 'vertical' and filter.operator == 'AND' -%}
                          <span class="facets__and-helptext">
                            {{ 'products.facets.filter_and_operator_subtitle' | t }}
                          </span>
                        {%- endif -%}
                        {% render 'icon-caret' %}
                      </div>
                    </summary>
                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                    >
                      {%- if filter_type != 'vertical' -%}
                        <div class="facets__header">
                          <div>
                            <span class="facets__selected no-js-hidden">
                              {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}}
                            </span>
                            {%- if filter.operator == 'AND' -%}
                              <span class="facets__and-helptext">
                                {{ 'products.facets.filter_and_operator_subtitle' | t }}
                              </span>
                            {%- endif -%}
                          </div>
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        </div>
                      {%- endif -%}
                      <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
                        <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                        <ul
                          class="{{ visual_layout_class }}{% if filter_type == 'vertical' %} facets__list--vertical{% else %} facets__list{% endif %} list-unstyled no-js-hidden"
                          role="list"
                        >
                          {%- liquid
                            assign sorted_values = filter.values
                            # Keep the selected values grouped together when operator is AND
                            if filter.operator == 'AND'
                              assign active_filter_values = filter.values | where: 'active', true
                              assign inactive_filter_values = filter.values | where: 'active', false
                              assign sorted_values = active_filter_values | concat: inactive_filter_values
                            endif
                          -%}
                          {%- for value in sorted_values -%}
                            {% liquid
                              assign is_disabled = false
                              if value.count == 0 and value.active == false
                                assign is_disabled = true
                              endif
                            %}

                            <li class="list-menu__item facets__item{% if forloop.index > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
                              <label
                                for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                class="facets__label facet-checkbox{% if is_disabled %} facet-checkbox--disabled disabled{% endif %}{% if has_visual_display %} visual-display-parent visual-display-parent--{{ filter.presentation }}{% endif %}{% if value.active %} active{% endif %}"
                              >
                                <input
                                  type="checkbox",
                                  class="facet-color-swatch-input"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if is_disabled %}
                                    disabled
                                  {% endif %}
                                >
                                <div class="facet-color_swatches">
                                  {% assign filter_label = filter.label |  handleize  %}
                                  {% assign swatch_image = value.label | escape | append: '.jpg' | file_url %}
                                  {% assign swatch_color = value.label | escape %}
                                   {% if filter_label == "color" %}
                                    <div class="item-swatch">
                                      <div class="color-variant-box">
                                          <div class="color-variant" data-value="{{ swatch_color }}"> </div>
                                      </div>
                                    <div>    
                                   {% endif %}
                                </div>

                                {% if has_visual_display %}
                                  <div class="facets__visual-display-wrapper">
                                    {% render 'visual-display',
                                      type: value.display.type,
                                      value: value.display.value,
                                      presentation: filter.presentation
                                    %}
                                  </div>
                                {% else %}
                                  {% if filter_label != 'color' %}
                                    <svg width="1.6rem" 
                                    class="me"
                                height="1.6rem" 
                                viewBox="0 0 16 16" 
                                aria-hidden="true" 
                                focusable="false">
                                  <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                </svg>
  
                                <svg aria-hidden="true"
                                 class="icon icon-checkmark" 
                                 width="1.1rem" height="0.7rem" 
                                 viewBox="0 0 11 7" 
                                 fill="none" 
                                 xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" 
                                  stroke="currentColor" 
                                  stroke-width="1.75" 
                                  stroke-linecap="round" 
                                  stroke-linejoin="round"></path>
                                </svg>                    
                                  {% endif %}
                                {% endif %}

                                <span class="facet-checkbox__text" aria-hidden="true">
                                  {{- value.label | escape }} ({{ value.count }})</span
                                >
                                <span class="visually-hidden">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )</span
                                >
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                        {% comment %} No show more for no JS {% endcomment %}
                        <ul
                          class="{% if filter_type != 'vertical' %} facets__list{% endif %} no-js-list list-unstyled no-js"
                          role="list"
                        >
                          {%- for value in filter.values -%}
                            <li class="list-menu__item facets__item">
                              <label
                                for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                                class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                              >
                                <input
                                  type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if value.count == 0 and value.active == false %}
                                    disabled
                                  {% endif %}
                                >

                                <svg width="1.6rem" 
                                class="me"
                                height="1.6rem" 
                                viewBox="0 0 16 16" 
                                aria-hidden="true" 
                                focusable="false">
                                  <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                </svg>
  
                                <svg aria-hidden="true"
                                 class="icon icon-checkmark" 
                                 width="1.1rem" height="0.7rem" 
                                 viewBox="0 0 11 7" 
                                 fill="none" 
                                 xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" 
                                  stroke="currentColor" 
                                  stroke-width="1.75" 
                                  stroke-linecap="round" 
                                  stroke-linejoin="round"></path>
                                </svg>

                                
                                <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                                <span class="visually-hidden">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )</span
                                >
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </fieldset>
                      {%- if filter.values.size > show_more_number and filter_type == 'vertical' -%}
                        <show-more-button>
                          <button
                            class="button-show-more link underlined-link no-js-hidden"
                            id="Show-More-{{ forloop.index }}-{{ section.id }}"
                            type="button"
                          >
                            <span class="label-show-more label-text"
                              ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                            </span>
                            <span class="label-show-less label-text hidden"
                              ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                            </span>
                          </button>
                        </show-more-button>
                      {%- endif %}
                    </div>
                  </details>
                {% when 'price_range' %}
                  {% liquid
                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
                    assign uses_comma_decimals = false
                    if currencies_using_comma_decimals contains cart.currency.iso_code
                      assign uses_comma_decimals = true
                    endif
                  %}
                  <details
                    id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                    class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                    data-index="{{ forloop.index }}"
                    {% if filter_type == 'vertical' and forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary class="facets__summary caption-large focus-offset">
                      <div>
                        <span>{{ filter.label | escape }}</span>
                        {% render 'icon-caret' %}
                      </div>
                    </summary>
                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="{% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                    >
                      <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %}">
                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                        <span class="facets__selected">
                          {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                        </span>
                        {%- if filter_type != 'vertical' -%}
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        {%- endif -%}
                      </div>
                      <price-range class="facets__price">
                        <span class="field-currency">{{ cart.currency.symbol }}</span>
                        <div class="field">
                          <input
                            class="field__input"
                            name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-GTE"
                            {%- if filter.min_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                              {%- endif %}
                            {%- endif -%}
                            type="number"
                            placeholder="0"
                            min="0"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          >
                          <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">
                            {{- 'products.facets.from' | t -}}
                          </label>
                        </div>
                        {%- if filter_type != 'vertical' -%}
                          <span class="field-currency">{{ cart.currency.symbol }}</span>
                        {%- endif -%}
                        <div class="field">
                          <input
                            class="field__input"
                            name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.label | escape }}-LTE"
                            {%- if filter.max_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                              {%- endif %}
                            {%- endif -%}
                            type="number"
                            min="0"
                            {%- if uses_comma_decimals -%}
                              placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                            {%- else -%}
                              placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            {% endif %}
                          >
                          <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">
                            {{- 'products.facets.to' | t -}}
                          </label>
                        </div>
                      </price-range>
                    </div>
                  </details>
              {% endcase %}
            {%- endfor -%}
            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.filter_button' | t }}
              </button>
            </noscript>
          </div>
          {% comment %} Pills after filtes on filter type horizontal {% endcomment %}
          {%- if filter_type == 'horizontal' -%}
            <div class="active-facets active-facets-desktop">
              {%- for filter in results.filters -%}
                {%- for value in filter.active_values -%}
                  <facet-remove>
                    <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                      <span class="active-facets__button-inner button button--tertiary">
                        {{ filter.label | escape }}: {{ value.label | escape }}
                        {% render 'icon-close-small' %}
                        <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                      </span>
                    </a>
                  </facet-remove>
                {%- endfor -%}
                {% if filter.type == 'price_range' %}
                  {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                    <facet-remove>
                      <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                        <span class="active-facets__button-inner button button--tertiary">
                          {%- if filter.min_value.value -%}
                            {{ filter.min_value.value | money }}
                          {%- else -%}
                            {{ 0 | money }}
                          {%- endif -%}
                          -
                          {%- if filter.max_value.value -%}
                            {{ filter.max_value.value | money }}
                          {%- else -%}
                            {{ filter.range_max | money }}
                          {%- endif -%}
                          {% render 'icon-close-small' %}
                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endif -%}
                {% endif %}
              {%- endfor -%}
              <facet-remove class="active-facets__button-wrapper">
                <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                  <span>{{ 'products.facets.clear_all' | t }}</span>
                </a>
              </facet-remove>
            </div>
          {%- endif -%}
        {% endif %}

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}

        {%- if filter_type == 'horizontal' -%}
          {% comment %} Sorting and product count are the last elements when filter type is horizontal {% endcomment %}
          {%- if enable_sorting -%}
            <div class="facet-filters sorting caption">
              <div class="facet-filters__field">
                <h2 class="facet-filters__label caption-large text-body">
                  <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </h2>
                <div class="select">
                  {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                  <select
                    name="sort_by"
                    class="facet-filters__sort select__select caption-large"
                    id="SortBy"
                    aria-describedby="a11y-refresh-page-message"
                  >
                    {%- for option in results.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>

              <noscript>
                <button type="submit" class="facets__button-no-js button button--secondary">
                  {{ 'products.facets.sort_button' | t }}
                </button>
              </noscript>
            </div>
          {%- endif -%}
          <div class="product-count light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == results.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: results.products_count, count: results.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        {%- endif -%}
      </form>
    </facet-filters-form>
    {% comment %} Sorting for vertical filter are grouped with filter when no JS{% endcomment %}
    {%- if enable_sorting and filter_type == 'vertical' -%}
      <facet-filters-form class="small-hide">
        <form class="no-js">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in results.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>

            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.sort_button' | t }}
              </button>
            </noscript>
          </div>

          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}

          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
        </form>
      </facet-filters-form>
    {%- endif -%}
  {%- endif -%}
  {% comment %}  Drawer and mobile filter {% endcomment %}
  <menu-drawer
    class="mobile-facets__wrapper{% if filter_type == 'horizontal' or filter_type == 'vertical' %} medium-hide large-up-hide{% endif %}"
    data-breakpoint="mobile"
  >
    <custom-grid>
      <div class="product-grid__mobile_buttons">
        <div class="2">
          <svg class="2" width="36" height="18" viewBox="0 0 36 18" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.73966 1.62155C5.52662 1.59291 5.2296 1.59132 4.73298 1.59132H3.26703C2.77041 1.59132 2.4734 1.59291 2.26036 1.62155C2.16264 1.63469 2.11329 1.65021 2.09066 1.65953C2.08057 1.66368 2.07663 1.66626 2.07635 1.66645C2.07622 1.66653 2.07634 1.66646 2.07635 1.66645C2.07574 1.66706 2.07499 1.66782 2.07513 1.66765C2.07528 1.66747 2.0753 1.6674 2.07513 1.66765C2.075 1.66785 2.07242 1.67176 2.06822 1.68197C2.05891 1.7046 2.04338 1.75395 2.03024 1.85166C2.0016 2.06471 2.00001 2.36172 2.00001 2.85834L2.00001 15.2328C2.00001 15.7294 2.0016 16.0264 2.03024 16.2395C2.04338 16.3372 2.05891 16.3865 2.06822 16.4092C2.07237 16.4193 2.07495 16.4232 2.07514 16.4235C2.0753 16.4237 2.07528 16.4237 2.07514 16.4235C2.07499 16.4233 2.07453 16.4229 2.07514 16.4235C2.07575 16.4241 2.07651 16.4248 2.07634 16.4247C2.07616 16.4246 2.07609 16.4245 2.07634 16.4247C2.07662 16.4249 2.08057 16.4275 2.09066 16.4316C2.11329 16.4409 2.16264 16.4565 2.26036 16.4696C2.4734 16.4982 2.77041 16.4998 3.26703 16.4998H4.73298C5.2296 16.4998 5.52662 16.4982 5.73966 16.4696C5.83738 16.4565 5.88672 16.4409 5.90935 16.4316C5.91945 16.4275 5.92338 16.4249 5.92366 16.4247C5.92364 16.4247 5.92373 16.4246 5.92366 16.4247M5.93953 0.134927C6.29733 0.183031 6.67468 0.296102 6.98495 0.606372C7.29522 0.916642 7.40829 1.29399 7.45639 1.65179C7.50011 1.97692 7.50006 2.37674 7.50001 2.81348C7.50001 2.82839 7.50001 2.84335 7.50001 2.85834L7.50001 15.2777C7.50006 15.7144 7.50011 16.1142 7.4564 16.4394C7.40829 16.7971 7.29522 17.1745 6.98495 17.4848C6.67468 17.795 6.29733 17.9081 5.93953 17.9562C5.6144 17.9999 5.21458 17.9999 4.77783 17.9998H3.22218C2.78544 17.9999 2.38561 17.9999 2.06049 17.9562C1.70269 17.9081 1.32533 17.795 1.01506 17.4848C0.704794 17.1745 0.591724 16.7971 0.543619 16.4394C0.499907 16.1142 0.499953 15.7144 0.500004 15.2777L0.500007 2.85834C0.500007 2.84335 0.500005 2.8284 0.500003 2.81349C0.499953 2.37674 0.499906 1.97692 0.543618 1.65179C0.591723 1.29399 0.704793 0.916642 1.01506 0.606372C1.32533 0.296102 1.70269 0.183032 2.06048 0.134927C2.38561 0.091215 2.78543 0.0912614 3.22218 0.0913121C3.23709 0.0913138 3.25204 0.0913155 3.26703 0.0913155L4.73298 0.0913155C4.74797 0.0913155 4.76293 0.0913138 4.77783 0.091312C5.21458 0.0912613 5.6144 0.0912149 5.93953 0.134927Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2397 1.62155C15.0266 1.59291 14.7296 1.59132 14.233 1.59132H12.767C12.2704 1.59132 11.9734 1.59291 11.7604 1.62155C11.6626 1.63469 11.6133 1.65021 11.5907 1.65953C11.5806 1.66368 11.5766 1.66626 11.5764 1.66645C11.5762 1.66653 11.5763 1.66646 11.5764 1.66645C11.5757 1.66706 11.575 1.66782 11.5751 1.66765C11.5753 1.66747 11.5753 1.6674 11.5751 1.66765C11.575 1.66785 11.5724 1.67176 11.5682 1.68197C11.5589 1.7046 11.5434 1.75395 11.5302 1.85166C11.5016 2.06471 11.5 2.36172 11.5 2.85834L11.5 15.2328C11.5 15.7294 11.5016 16.0264 11.5302 16.2395C11.5434 16.3372 11.5589 16.3865 11.5682 16.4092C11.5724 16.4193 11.575 16.4232 11.5751 16.4235C11.5753 16.4237 11.5753 16.4237 11.5751 16.4235C11.575 16.4233 11.5745 16.4229 11.5751 16.4235C11.5758 16.4241 11.5765 16.4248 11.5763 16.4247C11.5762 16.4246 11.5761 16.4245 11.5763 16.4247C11.5766 16.4249 11.5806 16.4275 11.5907 16.4316C11.6133 16.4409 11.6626 16.4565 11.7604 16.4696C11.9734 16.4982 12.2704 16.4998 12.767 16.4998H14.233C14.7296 16.4998 15.0266 16.4982 15.2397 16.4696C15.3374 16.4565 15.3867 16.4409 15.4094 16.4316C15.4194 16.4275 15.4234 16.4249 15.4237 16.4247C15.4236 16.4247 15.4237 16.4246 15.4237 16.4247M15.4395 0.134927C15.7973 0.183031 16.1747 0.296102 16.4849 0.606372C16.7952 0.916642 16.9083 1.29399 16.9564 1.65179C17.0001 1.97692 17.0001 2.37674 17 2.81348C17 2.82839 17 2.84335 17 2.85834L17 15.2777C17.0001 15.7144 17.0001 16.1142 16.9564 16.4394C16.9083 16.7971 16.7952 17.1745 16.485 17.4848C16.1747 17.795 15.7973 17.9081 15.4395 17.9562C15.1144 17.9999 14.7146 17.9999 14.2778 17.9998H12.7222C12.2854 17.9999 11.8856 17.9999 11.5605 17.9562C11.2027 17.9081 10.8253 17.795 10.5151 17.4848C10.2048 17.1745 10.0917 16.7971 10.0436 16.4394C9.99991 16.1142 9.99995 15.7144 10 15.2777L10 2.85834C10 2.84335 10 2.8284 10 2.81349C9.99995 2.37674 9.99991 1.97692 10.0436 1.65179C10.0917 1.29399 10.2048 0.916642 10.5151 0.606372C10.8253 0.296102 11.2027 0.183032 11.5605 0.134927C11.8856 0.091215 12.2854 0.0912614 12.7222 0.0913121C12.7371 0.0913138 12.752 0.0913155 12.767 0.0913155L14.233 0.0913155C14.248 0.0913155 14.2629 0.0913138 14.2778 0.091312C14.7146 0.0912613 15.1144 0.0912149 15.4395 0.134927Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7397 1.62155C24.5266 1.59291 24.2296 1.59132 23.733 1.59132H22.267C21.7704 1.59132 21.4734 1.59291 21.2604 1.62155C21.1626 1.63469 21.1133 1.65021 21.0907 1.65953C21.0806 1.66368 21.0766 1.66626 21.0764 1.66645C21.0762 1.66653 21.0763 1.66646 21.0764 1.66645C21.0757 1.66706 21.075 1.66782 21.0751 1.66765C21.0753 1.66747 21.0753 1.6674 21.0751 1.66765C21.075 1.66785 21.0724 1.67176 21.0682 1.68197C21.0589 1.7046 21.0434 1.75395 21.0302 1.85166C21.0016 2.06471 21 2.36172 21 2.85834L21 15.2328C21 15.7294 21.0016 16.0264 21.0302 16.2395C21.0434 16.3372 21.0589 16.3865 21.0682 16.4092C21.0724 16.4193 21.075 16.4232 21.0751 16.4235C21.0753 16.4237 21.0753 16.4237 21.0751 16.4235C21.075 16.4233 21.0745 16.4229 21.0751 16.4235C21.0758 16.4241 21.0765 16.4248 21.0763 16.4247C21.0762 16.4246 21.0761 16.4245 21.0763 16.4247C21.0766 16.4249 21.0806 16.4275 21.0907 16.4316C21.1133 16.4409 21.1626 16.4565 21.2604 16.4696C21.4734 16.4982 21.7704 16.4998 22.267 16.4998H23.733C24.2296 16.4998 24.5266 16.4982 24.7397 16.4696C24.8374 16.4565 24.8867 16.4409 24.9094 16.4316C24.9194 16.4275 24.9234 16.4249 24.9237 16.4247C24.9236 16.4247 24.9237 16.4246 24.9237 16.4247M24.9395 0.134927C25.2973 0.183031 25.6747 0.296102 25.9849 0.606372C26.2952 0.916642 26.4083 1.29399 26.4564 1.65179C26.5001 1.97692 26.5001 2.37674 26.5 2.81348C26.5 2.82839 26.5 2.84335 26.5 2.85834L26.5 15.2777C26.5001 15.7144 26.5001 16.1142 26.4564 16.4394C26.4083 16.7971 26.2952 17.1745 25.985 17.4848C25.6747 17.795 25.2973 17.9081 24.9395 17.9562C24.6144 17.9999 24.2146 17.9999 23.7778 17.9998H22.2222C21.7854 17.9999 21.3856 17.9999 21.0605 17.9562C20.7027 17.9081 20.3253 17.795 20.0151 17.4848C19.7048 17.1745 19.5917 16.7971 19.5436 16.4394C19.4999 16.1142 19.5 15.7144 19.5 15.2777L19.5 2.85834C19.5 2.84335 19.5 2.8284 19.5 2.81349C19.5 2.37674 19.4999 1.97692 19.5436 1.65179C19.5917 1.29399 19.7048 0.916642 20.0151 0.606372C20.3253 0.296102 20.7027 0.183032 21.0605 0.134927C21.3856 0.091215 21.7854 0.0912614 22.2222 0.0913121C22.2371 0.0913138 22.252 0.0913155 22.267 0.0913155L23.733 0.0913155C23.748 0.0913155 23.7629 0.0913138 23.7778 0.091312C24.2146 0.0912613 24.6144 0.0912149 24.9395 0.134927Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M34.2397 1.62155C34.0266 1.59291 33.7296 1.59132 33.233 1.59132H31.767C31.2704 1.59132 30.9734 1.59291 30.7604 1.62155C30.6626 1.63469 30.6133 1.65021 30.5907 1.65953C30.5806 1.66368 30.5766 1.66626 30.5764 1.66645C30.5762 1.66653 30.5763 1.66646 30.5764 1.66645C30.5757 1.66706 30.575 1.66782 30.5751 1.66765C30.5753 1.66747 30.5753 1.6674 30.5751 1.66765C30.575 1.66785 30.5724 1.67176 30.5682 1.68197C30.5589 1.7046 30.5434 1.75395 30.5302 1.85166C30.5016 2.06471 30.5 2.36172 30.5 2.85834L30.5 15.2328C30.5 15.7294 30.5016 16.0264 30.5302 16.2395C30.5434 16.3372 30.5589 16.3865 30.5682 16.4092C30.5724 16.4193 30.575 16.4232 30.5751 16.4235C30.5753 16.4237 30.5753 16.4237 30.5751 16.4235C30.575 16.4233 30.5745 16.4229 30.5751 16.4235C30.5758 16.4241 30.5765 16.4248 30.5763 16.4247C30.5762 16.4246 30.5761 16.4245 30.5763 16.4247C30.5766 16.4249 30.5806 16.4275 30.5907 16.4316C30.6133 16.4409 30.6626 16.4565 30.7604 16.4696C30.9734 16.4982 31.2704 16.4998 31.767 16.4998H33.233C33.7296 16.4998 34.0266 16.4982 34.2397 16.4696C34.3374 16.4565 34.3867 16.4409 34.4094 16.4316C34.4194 16.4275 34.4234 16.4249 34.4237 16.4247C34.4236 16.4247 34.4237 16.4246 34.4237 16.4247M34.4395 0.134927C34.7973 0.183031 35.1747 0.296102 35.4849 0.606372C35.7952 0.916642 35.9083 1.29399 35.9564 1.65179C36.0001 1.97692 36.0001 2.37674 36 2.81348C36 2.82839 36 2.84335 36 2.85834L36 15.2777C36.0001 15.7144 36.0001 16.1142 35.9564 16.4394C35.9083 16.7971 35.7952 17.1745 35.485 17.4848C35.1747 17.795 34.7973 17.9081 34.4395 17.9562C34.1144 17.9999 33.7146 17.9999 33.2778 17.9998H31.7222C31.2854 17.9999 30.8856 17.9999 30.5605 17.9562C30.2027 17.9081 29.8253 17.795 29.5151 17.4848C29.2048 17.1745 29.0917 16.7971 29.0436 16.4394C28.9999 16.1142 29 15.7144 29 15.2777L29 2.85834C29 2.84335 29 2.8284 29 2.81349C29 2.37674 28.9999 1.97692 29.0436 1.65179C29.0917 1.29399 29.2048 0.916642 29.5151 0.606372C29.8253 0.296102 30.2027 0.183032 30.5605 0.134927C30.8856 0.091215 31.2854 0.0912614 31.7222 0.0913121C31.7371 0.0913138 31.752 0.0913155 31.767 0.0913155L33.233 0.0913155C33.248 0.0913155 33.2629 0.0913138 33.2778 0.091312C33.7146 0.0912613 34.1144 0.0912149 34.4395 0.134927Z"></path>
          </svg>
        </div>
        <div class="1">
          <svg class="1" width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70526 0.250003C2.72013 0.250005 2.73505 0.250007 2.75001 0.250007L15.2033 0.250003C15.6361 0.249952 16.0329 0.249906 16.3557 0.293307C16.7112 0.3411 17.0869 0.453547 17.396 0.76257C17.705 1.07159 17.8174 1.44732 17.8652 1.8028C17.9086 2.12561 17.9086 2.52244 17.9085 2.95526V4.54475C17.9086 4.97757 17.9086 5.3744 17.8652 5.69721C17.8174 6.05269 17.705 6.42842 17.396 6.73744C17.0869 7.04647 16.7112 7.15891 16.3557 7.20671C16.0329 7.25011 15.6361 7.25006 15.2033 7.25001L2.75001 7.25001C2.73505 7.25001 2.72014 7.25001 2.70526 7.25001C2.27244 7.25006 1.87561 7.25011 1.5528 7.20671C1.19732 7.15891 0.821593 7.04647 0.51257 6.73744C0.203547 6.42842 0.0910996 6.05269 0.0433066 5.69721C-9.43281e-05 5.3744 -4.75394e-05 4.97757 3.48216e-06 4.54476C5.21069e-06 4.52988 6.99883e-06 4.51496 6.99883e-06 4.50001V3.00001C6.99883e-06 2.98505 5.21069e-06 2.97013 3.48216e-06 2.95526C-4.75394e-05 2.52244 -9.43281e-05 2.12561 0.0433066 1.8028C0.0910996 1.44732 0.203547 1.07159 0.51257 0.76257C0.821593 0.453547 1.19732 0.3411 1.5528 0.293307C1.87561 0.249906 2.27244 0.249952 2.70526 0.250003ZM1.57324 1.82324L1.57568 1.82187C1.57761 1.82086 1.58093 1.81924 1.58597 1.81717C1.60775 1.80821 1.65611 1.79291 1.75267 1.77993C1.96339 1.7516 2.2574 1.75001 2.75001 1.75001H15.1585C15.6511 1.75001 15.9451 1.7516 16.1559 1.77993C16.2524 1.79291 16.3008 1.80821 16.3226 1.81717C16.3276 1.81924 16.3309 1.82086 16.3328 1.82187L16.3353 1.82324L16.3367 1.82568C16.3377 1.82761 16.3393 1.83093 16.3414 1.83597C16.3503 1.85775 16.3656 1.90611 16.3786 2.00267C16.4069 2.21339 16.4085 2.5074 16.4085 3.00001V4.50001C16.4085 4.99261 16.4069 5.28662 16.3786 5.49734C16.3656 5.5939 16.3503 5.64226 16.3414 5.66404C16.3393 5.66909 16.3377 5.6724 16.3367 5.67434L16.3353 5.67677L16.3328 5.67815C16.3309 5.67916 16.3276 5.68077 16.3226 5.68285C16.3008 5.69181 16.2524 5.7071 16.1559 5.72008C15.9451 5.74841 15.6511 5.75001 15.1585 5.75001H2.75001C2.2574 5.75001 1.96339 5.74841 1.75267 5.72008C1.65611 5.7071 1.60775 5.69181 1.58597 5.68285C1.58093 5.68077 1.57761 5.67916 1.57568 5.67815L1.57324 5.67677L1.57187 5.67434C1.57086 5.6724 1.56924 5.66909 1.56717 5.66404C1.55821 5.64226 1.54291 5.5939 1.52993 5.49734C1.5016 5.28662 1.50001 4.99261 1.50001 4.50001V3.00001C1.50001 2.5074 1.5016 2.21339 1.52993 2.00267C1.54291 1.90611 1.55821 1.85775 1.56717 1.83597C1.56924 1.83093 1.57086 1.82761 1.57187 1.82568L1.57324 1.82324ZM1.57324 5.67677C1.57297 5.67644 1.57284 5.67636 1.57324 5.67677C1.5737 5.67723 1.57359 5.67705 1.57324 5.67677ZM16.3353 5.67677C16.3353 5.67679 16.3353 5.67679 16.3353 5.67677Z"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70526 9.75C2.72013 9.75001 2.73505 9.75001 2.75001 9.75001L15.2033 9.75C15.6361 9.74995 16.0329 9.74991 16.3557 9.79331C16.7112 9.8411 17.0869 9.95355 17.396 10.2626C17.705 10.5716 17.8174 10.9473 17.8652 11.3028C17.9086 11.6256 17.9086 12.0224 17.9085 12.4553V14.0448C17.9086 14.4776 17.9086 14.8744 17.8652 15.1972C17.8174 15.5527 17.705 15.9284 17.396 16.2374C17.0869 16.5465 16.7112 16.6589 16.3557 16.7067C16.0329 16.7501 15.6361 16.7501 15.2033 16.75L2.75001 16.75C2.73505 16.75 2.72014 16.75 2.70526 16.75C2.27244 16.7501 1.87561 16.7501 1.5528 16.7067C1.19732 16.6589 0.821593 16.5465 0.51257 16.2374C0.203547 15.9284 0.0910996 15.5527 0.0433066 15.1972C-9.43281e-05 14.8744 -4.75394e-05 14.4776 3.48216e-06 14.0448C5.21069e-06 14.0299 6.99883e-06 14.015 6.99883e-06 14V12.5C6.99883e-06 12.485 5.21069e-06 12.4701 3.48216e-06 12.4553C-4.75394e-05 12.0224 -9.43281e-05 11.6256 0.0433066 11.3028C0.0910996 10.9473 0.203547 10.5716 0.51257 10.2626C0.821593 9.95355 1.19732 9.8411 1.5528 9.79331C1.87561 9.74991 2.27244 9.74995 2.70526 9.75ZM1.57324 11.3232L1.57568 11.3219C1.57761 11.3209 1.58093 11.3192 1.58597 11.3172C1.60775 11.3082 1.65611 11.2929 1.75267 11.2799C1.96339 11.2516 2.2574 11.25 2.75001 11.25H15.1585C15.6511 11.25 15.9451 11.2516 16.1559 11.2799C16.2524 11.2929 16.3008 11.3082 16.3226 11.3172C16.3276 11.3192 16.3309 11.3209 16.3328 11.3219L16.3353 11.3232L16.3367 11.3257C16.3377 11.3276 16.3393 11.3309 16.3414 11.336C16.3503 11.3578 16.3656 11.4061 16.3786 11.5027C16.4069 11.7134 16.4085 12.0074 16.4085 12.5V14C16.4085 14.4926 16.4069 14.7866 16.3786 14.9973C16.3656 15.0939 16.3503 15.1423 16.3414 15.164C16.3393 15.1691 16.3377 15.1724 16.3367 15.1743L16.3353 15.1768L16.3328 15.1781C16.3309 15.1792 16.3276 15.1808 16.3226 15.1828C16.3008 15.1918 16.2524 15.2071 16.1559 15.2201C15.9451 15.2484 15.6511 15.25 15.1585 15.25H2.75001C2.2574 15.25 1.96339 15.2484 1.75267 15.2201C1.65611 15.2071 1.60775 15.1918 1.58597 15.1828C1.58093 15.1808 1.57761 15.1792 1.57568 15.1781L1.57324 15.1768L1.57187 15.1743C1.57086 15.1724 1.56924 15.1691 1.56717 15.164C1.55821 15.1423 1.54291 15.0939 1.52993 14.9973C1.5016 14.7866 1.50001 14.4926 1.50001 14V12.5C1.50001 12.0074 1.5016 11.7134 1.52993 11.5027C1.54291 11.4061 1.55821 11.3578 1.56717 11.336C1.56924 11.3309 1.57086 11.3276 1.57187 11.3257L1.57324 11.3232ZM1.57324 15.1768C1.57297 15.1764 1.57284 15.1764 1.57324 15.1768C1.5737 15.1772 1.57359 15.1771 1.57324 15.1768ZM16.3353 15.1768C16.3353 15.1768 16.3353 15.1768 16.3353 15.1768Z"></path>
          </svg>
        </div>
      </div>
    </custom-grid>
    <details class="mobile-facets__disclosure disclosure-has-popup">
      <summary class="mobile-facets__open-wrapper focus-offset">
        <span class="mobile-facets__open{% if filter_type == 'drawer' and enable_filtering == false %} medium-hide large-up-hide{% endif %}">
          {% render 'icon-filter' %}
          <span class="mobile-facets__open-label button-label medium-hide large-up-hide">
            {%- if enable_filtering and enable_sorting -%}
              {{ 'products.facets.filter_and_sort' | t }}
            {%- elsif enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- elsif enable_sorting -%}
              {{ 'products.facets.sort_button' | t }}
            {%- endif -%}
          </span>
          <span class="mobile-facets__open-label button-label small-hide">
            {%- if enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- endif -%}
          </span>
        </span>
        <span tabindex="0" class="mobile-facets__close mobile-facets__close--no-js">{%- render 'icon-close' -%}</span>
      </summary>
      <facet-filters-form>
        <form id="FacetFiltersFormMobile" class="mobile-facets">
          <div class="mobile-facets__inner gradient">
            <div class="mobile-facets__header">
              <div class="mobile-facets__header-inner">
                <h2 class="mobile-facets__heading medium-hide large-up-hide">
                  {%- if enable_filtering and enable_sorting -%}
                    {{ 'products.facets.filter_and_sort' | t }}
                  {%- elsif enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- elsif enable_sorting -%}
                    {{ 'products.facets.sort_button' | t }}
                  {%- endif -%}
                </h2>
                <h2 class="mobile-facets__heading small-hide">
                  {%- if enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- endif -%}
                </h2>
                <p class="mobile-facets__count">
                  {%- if results.results_count -%}
                    {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                  {%- elsif results.products_count == results.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: results.products_count, count: results.all_products_count
                    }}
                  {%- endif -%}
                </p>
              </div>
            </div>
            <div
              id="FacetsWrapperMobile"
              class="mobile-facets__main has-submenu gradient"
            >
              {%- if enable_filtering -%}
                {%- for filter in results.filters -%}
                  {% liquid
                    case filter.presentation
                      when 'swatch'
                        assign has_visual_display = true
                        assign visual_layout_class = 'facets-layout-grid facets-layout-grid--' | append: filter.presentation
                      else
                        assign has_visual_display = false
                        assign visual_layout_class = 'facets-layout-list'
                    endcase
                  %}

                  {% case filter.type %}
                    {% when 'boolean', 'list' %}
                      <details
                        id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="mobile-facets__details js-filter"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <summary class="mobile-facets__summary focus-inset">
                          <div>
                            <span>{{ filter.label | escape }}</span>
                            <span class="mobile-facets__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                            <noscript>{% render 'icon-caret' %}</noscript>
                          </div>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu gradient"
                        >
                          <button
                            class="mobile-facets__close-button link link--text focus-inset"
                            aria-expanded="true"
                            type="button"
                          >
                            {% render 'icon-arrow' %}
                            <span>{{ filter.label | escape }}</span>
                            {%- if filter.operator == 'AND' -%}
                              <span class="facets__and-helptext">
                                {{ 'products.facets.filter_and_operator_subtitle' | t }}
                              </span>
                            {%- endif -%}
                          </button>
                          <ul class="{{ visual_layout_class }} mobile-facets__list list-unstyled" role="list">
                            {%- liquid
                              assign sorted_values = filter.values
                              # Keep the selected values grouped together when operator is AND
                              if filter.operator == 'AND'
                                assign active_filter_values = filter.values | where: 'active', true
                                assign inactive_filter_values = filter.values | where: 'active', false
                                assign sorted_values = active_filter_values | concat: inactive_filter_values
                              endif
                            -%}
                            {%- for value in sorted_values -%}
                              {% liquid
                                assign is_disabled = false
                                if value.count == 0 and value.active == false
                                  assign is_disabled = true
                                endif
                              %}

                              <li class="mobile-facets__item list-menu__item">
                                <label
                                  for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                  class="facets__label mobile-facets__label{% if is_disabled %} mobile-facets__label--disabled disabled{% endif %}{% if has_visual_display %} visual-display-parent visual-display-parent--{{ filter.presentation }}{% endif %}{% if value.active %} active{% endif %}"
                                >
                                  <input
                                    class="mobile-facets__checkbox"
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if is_disabled %}
                                      disabled
                                    {% endif %}
                                  >

                                  {% if has_visual_display %}
                                    <div class="facets__visual-display-wrapper">
                                      {% render 'visual-display',
                                        type: value.display.type,
                                        value: value.display.value,
                                        presentation: filter.presentation
                                      %}
                                    </div>
                                  {% else %}
                                    <span class="mobile-facets__highlight"></span>

                                    <svg width="1.6rem" 
                                    class="me"
                                height="1.6rem" 
                                viewBox="0 0 16 16" 
                                aria-hidden="true" 
                                focusable="false">
                                  <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                </svg>
  
                                <svg aria-hidden="true"
                                 class="icon icon-checkmark" 
                                 width="1.1rem" height="0.7rem" 
                                 viewBox="0 0 11 7" 
                                 fill="none" 
                                 xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" 
                                  stroke="currentColor" 
                                  stroke-width="1.75" 
                                  stroke-linecap="round" 
                                  stroke-linejoin="round"></path>
                                </svg>
                                  {% endif %}

                                  <span class="facet-checkbox__text" aria-hidden="true">
                                    {{- value.label | escape }} ({{ value.count }})</span
                                  >
                                  <span class="visually-hidden">
                                    {{- value.label | escape }} (
                                    {%- if value.count == '1' -%}
                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                    {%- else -%}
                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                    {%- endif -%}
                                    )</span
                                  >
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>

                          <div class="no-js-hidden mobile-facets__footer gradient">
                            <facet-remove class="mobile-facets__clear-wrapper">
                              <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                                {{- 'products.facets.clear' | t -}}
                              </a>
                            </facet-remove>
                            <button
                              type="button"
                              class="no-js-hidden button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                            >
                              {{ 'products.facets.apply' | t }}
                            </button>
                            <noscript
                              ><button class="button button--primary">
                                {{ 'products.facets.apply' | t }}
                              </button></noscript
                            >
                          </div>
                        </div>
                      </details>
                    {% when 'price_range' %}
                      {% liquid
                        assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
                        assign uses_comma_decimals = false
                        if currencies_using_comma_decimals contains cart.currency.iso_code
                          assign uses_comma_decimals = true
                        endif
                      %}
                      <details
                        id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}"
                        class="mobile-facets__details js-filter"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <summary class="mobile-facets__summary focus-inset">
                          <div>
                            <span>{{ filter.label | escape }}</span>
                            <span class="mobile-facets__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                            <noscript>{% render 'icon-caret' %}</noscript>
                          </div>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu gradient"
                        >
                          <button
                            class="mobile-facets__close-button link link--text focus-inset"
                            aria-expanded="true"
                            type="button"
                          >
                            {% render 'icon-arrow' %}
                            {{ filter.label | escape }}
                          </button>

                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <p class="mobile-facets__info">
                            {{ 'products.facets.max_price' | t: price: max_price_amount }}
                          </p>

                          <price-range class="facets__price">
                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                            <div class="field">
                              <input
                                class="field__input"
                                name="{{ filter.min_value.param_name }}"
                                id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                {%- if filter.min_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                placeholder="0"
                                min="0"
                                inputmode="decimal"
                                {%- if uses_comma_decimals -%}
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              >
                              <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-GTE">
                                {{- 'products.facets.from' | t -}}
                              </label>
                            </div>

                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                            <div class="field">
                              <input
                                class="field__input"
                                name="{{ filter.max_value.param_name }}"
                                id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                {%- if filter.max_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                min="0"
                                inputmode="decimal"
                                {%- if uses_comma_decimals -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                              >
                              <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-LTE">
                                {{- 'products.facets.to' | t -}}
                              </label>
                            </div>
                          </price-range>
                          <div class="no-js-hidden mobile-facets__footer">
                            <facet-remove class="mobile-facets__clear-wrapper">
                              <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                                {{- 'products.facets.clear' | t -}}
                              </a>
                            </facet-remove>
                            <button
                              type="button"
                              class="no-js-hidden button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                            >
                              {{ 'products.facets.apply' | t }}
                            </button>
                            <noscript
                              ><button class="button button--primary">
                                {{ 'products.facets.apply' | t }}
                              </button></noscript
                            >
                          </div>
                        </div>
                      </details>
                  {% endcase %}
                {%- endfor -%}
              {%- endif -%}

              {%- if enable_sorting -%}
                <div
                  id="Details-Mobile-SortBy-{{ section.id }}"
                  class="mobile-facets__details js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}"
                  data-index="mobile-{{ forloop.index }}"
                >
                  <div class="mobile-facets__summary">
                    <div class="mobile-facets__sort">
                      <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                      <div class="select">
                        <select
                          name="sort_by"
                          class="select__select"
                          id="SortBy-mobile"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in results.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}

              <div class="mobile-facets__footer">
                <facet-remove class="mobile-facets__clear-wrapper">
                  <a href="{{ results_url }}" class="mobile-facets__clear underlined-link">
                    {{- 'products.facets.clear_all' | t -}}
                  </a>
                </facet-remove>
                <button
                  type="button"
                  class="no-js-hidden button button--primary"
                  onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                >
                  {{ 'products.facets.apply' | t }}
                </button>
                <noscript
                  ><button class="button button--primary">{{ 'products.facets.apply' | t }}</button></noscript
                >
              </div>
            </div>

            {% if results.current_vendor or results.current_type %}
              <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
            {% endif %}

            {%- if results.terms -%}
              <input type="hidden" name="q" value="{{ results.terms | escape }}">
              <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}
          </div>
        </form>
      </facet-filters-form>
    </details>
  </menu-drawer>

  <div class="active-facets active-facets-mobile medium-hide large-up-hide">
    {%- for filter in results.filters -%}
      {%- for value in filter.active_values -%}
        <facet-remove>
          <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
            <span class="active-facets__button-inner button button--tertiary">
              {{ filter.label | escape }}: {{ value.label | escape }}
              {% render 'icon-close-small' %}
              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
            </span>
          </a>
        </facet-remove>
      {%- endfor -%}

      {%- if filter.type == 'price_range' -%}
        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
          <facet-remove>
            <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
              <span class="active-facets__button-inner button button--tertiary">
                {%- if filter.min_value.value -%}
                  {{ filter.min_value.value | money }}
                {%- else -%}
                  {{ 0 | money }}
                {%- endif -%}
                -
                {%- if filter.max_value.value -%}
                  {{ filter.max_value.value | money }}
                {%- else -%}
                  {{ filter.range_max | money }}
                {%- endif -%}
                {% render 'icon-close-small' %}
                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    <facet-remove class="active-facets__button-wrapper">
      <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
        <span>{{ 'products.facets.clear_all' | t }}</span>
      </a>
    </facet-remove>
  </div>
  {% comment %} Sort, product count and filter pills at the end when filter is type of Drawer for the correct tabbing order {% endcomment %}
  {%- if enable_sorting and filter_type == 'drawer' -%}
    <facet-filters-form class="facets small-hide">
      <form id="FacetSortDrawerForm" class="facets__form">
        <div class="facet-filters sorting caption small-hide">
          <div class="facet-filters__field">
            <h2 class="facet-filters__label caption-large text-body">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </h2>
            <div class="select">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select
                name="sort_by"
                class="facet-filters__sort select__select caption-large"
                id="SortBy"
                aria-describedby="a11y-refresh-page-message"
              >
                {%- for option in results.sort_options -%}
                  <option
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>

          <noscript>
            <button type="submit" class="facets__button-no-js button button--secondary">
              {{ 'products.facets.sort_button' | t }}
            </button>
          </noscript>
        </div>

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}

        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}
      </form>
    </facet-filters-form>
  {%- endif -%}
  {% comment %} <div
    class="product-count light{% if filter_type == 'vertical' or filter_type == 'horizontal' %} medium-hide large-up-hide{% endif %}"
    role="status"
  >
    <h2 class="product-count__text text-body">
      <span id="ProductCount">
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- elsif results.products_count == results.all_products_count -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- else -%}
          {{
            'products.facets.product_count'
            | t: product_count: results.products_count, count: results.all_products_count
          }}
        {%- endif -%}
      </span>
    </h2>
    {%- render 'loading-spinner' -%}
  </div> {% endcomment %}
  {%- if filter_type == 'drawer' -%}
    <facet-filters-form class="facets facets-pill small-hide">
      <form id="FacetFiltersPillsForm" class="facets__form">
        <div class="active-facets active-facets-desktop">
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove>
                <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                  <span class="active-facets__button-inner button button--tertiary">
                    {{ filter.label | escape }}: {{ value.label | escape }}
                    {% render 'icon-close-small' %}
                    <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}

            {%- if filter.type == 'price_range' -%}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <facet-remove>
                  <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                    <span class="active-facets__button-inner button button--tertiary">
                      {%- if filter.min_value.value -%}
                        {{ filter.min_value.value | money }}
                      {%- else -%}
                        {{ 0 | money }}
                      {%- endif -%}
                      -
                      {%- if filter.max_value.value -%}
                        {{ filter.max_value.value | money }}
                      {%- else -%}
                        {{ filter.range_max | money }}
                      {%- endif -%}
                      {% render 'icon-close-small' %}
                      <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <facet-remove class="active-facets__button-wrapper">
            <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      </form>
    </facet-filters-form>
  {%- endif -%}
</div>
