{{ 'section-custom-timer.css' | asset_url | stylesheet_tag }}
<script src="{{ " custom-timer.js" | asset_url }}" defer></script>

{% style %}
  .padding-{{ section.id }} {
  padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
  padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
}

@media only screen and (min-width: 750px) {
  .padding-{{ section.id }} {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{% endstyle %}

<div class="custom-timer padding-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="grid grid--1-col grid--2-col-desktop custom-timer__grid-mobile">
      <div class="grid__item custom-timer__text-wrapper">
        {% if section.settings.heading %}
        <h2 class="h1x">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description %}
        <p class="custom-timer__description">{{ section.settings.description }}</p>
        {% endif %}
        {% if section.settings.button_label %}
        <a class="button" href="{{section.settings.button_link }}">
          <span>{{ section.settings.button_label }}</span>
        </a>
        {% endif %}
      </div>
      <div class="grid__item custom-timer__time-wrapper">
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="days">
            {{ section.settings.days }}
          </span>
          <span class="h4">Days</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <h2 class="h1 custom-timer__time" id="hours">
            {{ section.settings.hours }}
          </h2>
          <span class="h4">Hours</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="minutes">
            {{ section.settings.minutes }}
          </span>
          <span class="h4">Mins</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="seconds">
            {{ section.settings.seconds }}
          </span>
          <span class="h4">Sec</span>
        </div>
      </div>

    </div>

    <div class="custom-timer__grid-desktop">
      <div class="custom-timer__text-wrapper">
        {% if section.settings.heading %}
        <h2 class="h1">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description %}
        <p class="custom-timer__description">{{ section.settings.description }}</p>
        {% endif %}
        {% if section.settings.button_label %}
        <a class="button hover-button" href="{{section.settings.button_link }}">
          <span>{{ section.settings.button_label }}</span>
        </a>
        {% endif %}
      </div>
      <div class="custom-timer__time-wrapper">
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="days">
            {{ section.settings.days }}
          </span>
          <span class="h4">Days</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <h2 class="h1 custom-timer__time" id="hours">
            {{ section.settings.hours }}
          </h2>
          <span class="h4">Hours</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="minutes">
            {{ section.settings.minutes }}
          </span>
          <span class="h4">Mins</span>
        </div>
        <span class="h1 custom-timer__colon">:</span>
        <div class="custom-timer__card custom-border-radius">
          <span class="h1 custom-timer__time" id="seconds">
            {{ section.settings.seconds }}
          </span>
          <span class="h4">Sec</span>
        </div>
      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom timer",
    "tag" : "section",
    "settings": [
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading",
        "default" : "Timer Heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "description",
        "default": "<p>Timer Description</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "View All"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "Right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content":"Timing Settings"
      },
      {
        "type": "number",
        "id": "days",
        "label": "Days"
      },
      {
        "type": "number",
        "id": "hours",
        "label": "Hours"
      },
      {
        "type": "number",
        "id": "minutes",
        "label": "Minutes"
      },
      {
        "type": "number",
        "id": "seconds",
        "label": "Seconds"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": " Color Schema",
        "info": "applies color schema to whole section",
        "default": "scheme-1"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }
      ],
      "presets": [
      {
      "name": "Custom timer"
      }
    ]
  }
{% endschema %}