{{ 'section-custom-slider.css' | asset_url | stylesheet_tag }}
<script src="{{'custom-slider.js'| asset_url}}" defer></script>

{% style %}
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media screen and (min-width: 750px) {
        .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

{% capture sliderOptions %}
    {
        "autoplay": {{ section.settings.autoplay }},
        "arrows": {{ section.settings.arrows }},
        "pagination": {{ section.settings.pagination }},
        "perPage": {{ section.settings.perPage }},
        "speed": {{ section.settings.speed |  append: '000'}},
        "type": "{{ section.settings.slider_type }}",
        "interval":{{ section.settings.interval | append :'000' }},
        "rewind":{{ section.settings.rewind }}
    }
{% endcapture %}

<div class="slider padding-{{ section.id }}" >
    <div class="page-width">
        <custom-slider class="color-{{ section.settings.color_scheme  }}" data-slider-options='{{ sliderOptions }}' >
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for block in section.blocks %}
                        <li class="splide__slide ">
                            {% if block.settings.desktop_image != blank %}
                                <div class=" slider__flex {{ block.settings.content_position }} {{ block.settings.text_alignment }}">
                                    <div class="slider__image">
                                        {% render 'responsive-picture', desktopImage: block.settings.desktop_image  , mobileImage: block.settings.mobile_image  %}
                                    </div>
                                    <div class="slider__content">
                                        {%- if block.settings.heading != blank and block.settings.pre_heading != blank -%}
                                            <div class="slider__content-preheading {{ block.settings.sub-heading_position }}">
                                                {% render 'custom-caption', caption: block.settings.pre_heading %}
                                            </div>
                                            <h2 class="h1 slider__heading">{{ block.settings.heading }}</h2>
                                            {%- if block.settings.button_text != blank -%}
                                                <a class="button hover-button" {% if block.settings.button_link==blank %} 
                                                  role="link" aria-disabled="true" {% else %}
                                                  href="{{ block.settings.button_link }}" {% endif %}>
                                                  {{- block.settings.button_text | escape -}}
                                                </a>
                                            {%- endif -%}
                                        {%- endif -%}
                                    </div>
                                </div>
                            {% else %}
                                {{ 'hero-apparel-1'| placeholder_svg_tag }}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </custom-slider>
    </div>
</div>


{% schema %}
{
    "name": "Hero Banner Slider",
    "tag":"section",
    "settings":[
        {
            "type": "header",
            "content":"Slider Settings"
        },
        {
            "type": "select",
            "id": "slider_type",
            "label": "Slider Type",
            "options": [
                {
                "value": "loop",
                "label": "Loop"
                },
                {
                "value": "slide",
                "label": "Slide"
                },
                {
                "value": "fade",
                "label": "Fade"
                }
            ],
            "default": "loop"
        },
        {
            "type": "range",
            "id": "perPage",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Per Page",
            "default": 1
        },
        {
            "type": "range",
            "id": "speed",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Transition Speed of Slide",
            "default": 1
        },
        {
            "type": "range",
            "id": "interval",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Slider Autoplay Interval in seconds",
            "default": 1
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Enable Autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Enable Arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "pagination",
            "label": "Show Dots",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "rewind",
            "label": "Rewind Slider",
            "default": true
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": " Color Schema",
            "info": "applies color schema to whole section",
            "default": "scheme-6"
        },
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 30
        }
    ],
    "blocks": [
        {
            "name": "Slider",
            "type": "slider",
            "settings": [
            {
                "type": "header",
                "content":"Banner Settings"
            },
            {
                "type": "image_picker",
                "id": "desktop_image",
                "label": "Desktop Image",
                "info": "1440 x 600"
            },
            {
                "type": "image_picker",
                "id":"mobile_image",
                "label": "Mobile Image",
                "info":"400 x 600"
            },
            {
                "type": "text",
                "id":"pre_heading",
                "label": "Pre heading",
                "default": "Women's Apparel"
            },
            {
                "type": "richtext",
                "id":"heading",
                "label": "Heading",
                "default": "<p>Elevate your wardrobe with our limited-time fashion offer!</p>"
            },
            {
                "type": "text",
                "id":"button_text",
                "label": "Button Text",
                "default": "Button"
            },
            {
                "type": "url",
                "id":"button_link",
                "label":"Button URL"
            },
            {
                "type": "select",
                "id":"sub-heading_position",
                "options": [
                    {
                        "label":"left",
                        "value": "align-start justify-start"
                    },
                    {
                        "label":"center",
                        "value": "align-center justify-center"
                    },
                    {
                        "label":"right",
                        "value": "align-end justify-end"
                    }
                ],
                    "default": "align-center justify-center",
                    "label": "Sub-Heading Position"
            },
            {
                "type": "select",
                "id": "content_position",
                "options": [
                    {
                    "label": "Top left",
                    "value": "align-start justify-start"
                    },
                    {
                    "label": "Top center",
                    "value": "align-start justify-center"
                    },
                    {
                    "label": "Top right",
                    "value": "align-start justify-end"
                    },
                    {
                    "label": "Middle left",
                    "value": "align-center justify-start"
                    },
                    {
                    "label": "Middle center",
                    "value": "align-center justify-center"
                    },
                    {
                    "label": "Middle right",
                    "value": "align-center justify-end"
                    },
                    {
                    "label": "Bottom left",
                    "value": "align-end justify-start"
                    },
                    {
                    "label": "Bottom center",
                    "value": "align-end justify-center"
                    },
                    {
                    "label": "Bottom right",
                    "value": "align-end justify-end"
                    }
                    ],
                    "default": "align-center justify-center",
                    "label": "Content Position"
                },
                {
                    "type": "select",
                    "id": "text_alignment",
                    "label": "text alignment",
                    "options": [
                        {
                        "value": "left",
                        "label": "Left"
                        },
                        {
                        "value": "center",
                        "label": "Center"
                        },
                        {
                        "value": "right",
                        "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        }
    ] ,
    "presets": [
        {
            "name": "Hero Banner Slider"
        }
    ]   
}
{% endschema %}