{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
  <div class="main-order-page-wrapper customer-page-wrapper ">
  <div class="main-order-page_navbar customer-page-navbar">
    {% render 'customer-navbar' %}
  </div>
  <div class="main-orders-page_content customer-page-content">

  {%- paginate customer.addresses by 5 -%}
    <div id="customer-addresses" class="customer addresses section-{{ section.id }}-padding" data-customer-addresses>
      <h1 class="left">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
      <path d="M16 15.6901C16.9007 15.6902 17.7812 15.4232 18.5302 14.9228C19.2792 14.4225 19.8629 13.7113 20.2077 12.8792C20.5525 12.047 20.6427 11.1314 20.4671 10.2479C20.2914 9.36452 19.8577 8.55303 19.2208 7.91609C18.584 7.27915 17.7725 6.84538 16.8891 6.66962C16.0057 6.49386 15.09 6.58402 14.2579 6.92868C13.4257 7.27335 12.7144 7.85705 12.214 8.60596C11.7136 9.35487 11.4465 10.2354 11.4465 11.1361C11.4478 12.3434 11.928 13.5009 12.7816 14.3546C13.6353 15.2083 14.7927 15.6886 16 15.6901ZM16 8.08258C16.6041 8.08248 17.1946 8.26152 17.6969 8.59706C18.1992 8.9326 18.5907 9.40957 18.8219 9.96763C19.0531 10.5257 19.1137 11.1398 18.9958 11.7323C18.878 12.3247 18.5871 12.8689 18.16 13.2961C17.7329 13.7232 17.1886 14.0141 16.5962 14.1319C16.0037 14.2497 15.3896 14.1892 14.8316 13.958C14.2735 13.7268 13.7965 13.3353 13.461 12.833C13.1254 12.3307 12.9464 11.7401 12.9465 11.1361C12.9474 10.3265 13.2694 9.55039 13.8419 8.97795C14.4143 8.40551 15.1904 8.08351 16 8.08258ZM21.9625 23.0826C24.5025 20.2351 26.925 16.1856 26.925 12.2566C26.9225 9.35972 25.7707 6.58221 23.7225 4.53368C21.6742 2.48516 18.8969 1.33299 16 1.33008C15.83 1.33008 15.665 1.33508 15.5 1.34508C12.6933 1.47575 10.0447 2.6819 8.10363 4.7133C6.16255 6.74469 5.078 9.44539 5.075 12.2551C5.075 15.7851 7.07 19.4601 9.43 22.2751C9.6575 22.5476 9.889 22.8096 10.1215 23.0651C7.864 23.4886 4.25 24.4956 4.25 26.6201C4.25 29.1901 9.795 30.5801 15.45 30.6651H15.55C15.7 30.6701 15.85 30.6701 16 30.6701C21.84 30.6701 27.75 29.2751 27.75 26.6201C27.75 24.5156 24.2235 23.5111 21.9625 23.0811V23.0826ZM15.515 2.84008C17.9211 2.97622 20.184 4.02707 21.8405 5.77742C23.497 7.52777 24.4216 9.84518 24.425 12.2551C24.425 16.5001 21.18 21.0001 18.395 23.5651C17.577 24.3769 16.6289 25.0461 15.59 25.5451C13.26 24.5501 6.575 18.2801 6.575 12.2551C6.57842 9.84518 7.50304 7.52777 9.15951 5.77742C10.816 4.02707 13.0789 2.97622 15.485 2.84008C15.4896 2.84253 15.4948 2.84381 15.5 2.84381C15.5052 2.84381 15.5104 2.84253 15.515 2.84008ZM15.385 29.1651C9.145 29.0651 5.75 27.4601 5.75 26.6201C5.75 26.1651 7.08 25.0251 11.2 24.4051C11.2635 24.395 11.3254 24.3765 11.384 24.3501C12.976 25.8476 14.534 26.8651 15.595 27.1201C15.7083 27.1489 15.8236 27.169 15.94 27.1801C15.9865 27.1842 16.0333 27.1859 16.08 27.1851C16.8241 27.1177 17.5377 26.8569 18.15 26.4286C19.227 25.8236 23.9155 25.6556 25.1905 26.4286C25.2262 26.4859 25.247 26.5512 25.251 26.6186C25.251 27.4586 21.856 29.0636 15.616 29.1636L15.385 29.1651Z" fill="black"></path>
      </svg>
      Address Book</h1>
      <div data-address>
        <button
          id="add-address-button"
          class="left gradiant-button"
          type="button "
          aria-expanded="false"
          aria-controls="AddAddress"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M12.501 22C18.0238 22 22.501 17.5228 22.501 12C22.501 6.47715 18.0238 2 12.501 2C6.97813 2 2.50098 6.47715 2.50098 12C2.50098 17.5228 6.97813 22 12.501 22Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.5 8V16" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8.50098 12H16.501" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          {{ 'customer.addresses.add_new' | t |  upcase}}
        </button>
        <div id="AddAddress">
          <h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
            <div class="field">
              <input
                type="text"
                id="AddressFirstNameNew"
                name="address[first_name]"
                value="{{ form.first_name }}"
                autocomplete="given-name"
                placeholder="{{ 'customer.addresses.first_name' | t }}"
              >
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressLastNameNew"
                name="address[last_name]"
                value="{{ form.last_name }}"
                autocomplete="family-name"
                placeholder="{{ 'customer.addresses.last_name' | t }}"
              >
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressCompanyNew"
                name="address[company]"
                value="{{ form.company }}"
                autocomplete="organization"
                placeholder="{{ 'customer.addresses.company' | t }}"
              >
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressAddress1New"
                name="address[address1]"
                value="{{ form.address1 }}"
                autocomplete="address-line1"
                placeholder="{{ 'customer.addresses.address1' | t }}"
              >
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressAddress2New"
                name="address[address2]"
                value="{{ form.address2 }}"
                autocomplete="address-line2"
                placeholder="{{ 'customer.addresses.address2' | t }}"
              >
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressCityNew"
                name="address[city]"
                value="{{ form.city }}"
                autocomplete="address-level2"
                placeholder="{{ 'customer.addresses.city' | t }}"
              >
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            </div>
            <div>
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <div class="select">
                <select
                  id="AddressCountryNew"
                  name="address[country]"
                  data-default="{{ form.country }}"
                  autocomplete="country"
                >
                  {{ all_country_option_tags }}
                </select>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg>
              </div>
            </div>
            <div id="AddressProvinceContainerNew" style="display: none">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <div class="select">
                <select
                  id="AddressProvinceNew"
                  name="address[province]"
                  data-default="{{ form.province }}"
                  autocomplete="address-level1"
                ></select>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg>
              </div>
            </div>
            <div class="field">
              <input
                type="text"
                id="AddressZipNew"
                name="address[zip]"
                value="{{ form.zip }}"
                autocapitalize="characters"
                autocomplete="postal-code"
                placeholder="{{ 'customer.addresses.zip' | t }}"
              >
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            </div>
            <div class="field">
              <input
                type="tel"
                id="AddressPhoneNew"
                name="address[phone]"
                value="{{ form.phone }}"
                autocomplete="tel"
                placeholder="{{ 'customer.addresses.phone' | t }}"
              >
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            </div>
            <div>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div>
              <button class="gradiant-button-black" >{{ 'customer.addresses.add' | t }}</button>
              <button class="gradiant-button-black" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          {%- endform -%}
        </div>
      </div>
  
      <div class="addresses-grid">
        {%- for address in customer.addresses -%}
          <div data-address class="address-card" id="{{ address.id }}">
            {%- if address == customer.default_address -%}
              <h2>{{ 'customer.addresses.default' | t |  upcase}}</h2>
            {%- endif -%}
            {{ address | format_address }}
            <button
              class="gradiant-button"
              type="button"
              id="EditFormButton_{{ address.id }}"
              aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
              aria-controls="EditAddress_{{ address.id }}"
              aria-expanded="false"
              data-address-id="{{ address.id }}"
            >
              {{ 'customer.addresses.edit' | t }}
            </button>
            <button
              class="gradiant-button"
              type="button"
              aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
              data-target="{{ address.url }}"
              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
            >
              {{ 'customer.addresses.delete' | t }}
            </button>
            <div id="EditAddress_{{ address.id }}">
              <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
              {%- form 'customer_address', address -%}
                <div class="field">
                  <input
                    type="text"
                    id="AddressFirstName_{{ form.id }}"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}"
                  >
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressLastName_{{ form.id }}"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}"
                  >
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressCompany_{{ form.id }}"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                  >
                  <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressAddress1_{{ form.id }}"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}"
                  >
                  <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressAddress2_{{ form.id }}"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                  >
                  <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressCity_{{ form.id }}"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                  >
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                </div>
                <div>
                  <label for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>
                </div>
                <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                  <label for="AddressProvince_{{ form.id }}">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressProvince_{{ form.id }}"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                    ></select>
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressZip_{{ form.id }}"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}"
                  >
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="tel"
                    id="AddressPhone_{{ form.id }}"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                  >
                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                </div>
                <div>
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_{{ form.id }}">
                    {{ 'customer.addresses.set_default' | t }}
                  </label>
                </div>
                <div>
                  <button class="gradiant-button-black">{{ 'customer.addresses.update' | t }}</button>
                  <button class="gradiant-button-black" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div class="form-div">
        
      </div>
  
      {%- if paginate.pages > 1 -%}
        {%- if paginate.parts.size > 0 -%}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul role="list">
              {%- if paginate.previous -%}
                <li>
                  <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </svg>
                  </a>
                </li>
              {%- endif -%}
  
              {%- for part in paginate.parts -%}
                <li>
                  {%- if part.is_link -%}
                    <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{- part.title -}}
                    </a>
                  {%- else -%}
                    {%- if part.title == paginate.current_page -%}
                      <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </span>
                    {%- else -%}
                      <span>{{ part.title }}</span>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- endfor -%}
  
              {%- if paginate.next -%}
                <li>
                  <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </svg>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </nav>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endpaginate -%}
  
  <script>
    window.addEventListener('load', () => {
      typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    });
  </script>

  </div>
</div>
</div>



{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
