{{ 'section-main-product-text-grid.css' | asset_url | stylesheet_tag }}

{% style %}
    .padding-{{ section.id }} 
    {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    .text-grid-wrapper {
      background:{{ section.settings.background_color }};
    }

    @media screen and (min-width: 750px) 
    {
        .padding-{{ section.id }} 
        {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="text-grid-wrapper color-{{ section.settings.color_scheme }} padding-{{ section.id }} ">
    <div class="text-grid">
        <div class="page-width text-grid-wrapper
         color-{{ section.settings.color_scheme }}
         grid grid--2-col-desktop grid--1-col">
         {% for block in section.blocks %}
          <div class="grid__item">
              <h2> {{ block.settings.heading }} </h2>
              <p> {{ block.settings.description }} </p>
              {% if block.settings.button_label != blank %}
                <a class="button gradiant-button-black " {%if block.settings.button_link==blank %} 
                    role="link" aria-disabled="true" {% else %}
                    href="{{ block.settings.button_link }}" {% endif %}>
                    <span>{{- block.settings.button_label | escape -}}</span>
                </a>
            {% endif %}
            </div>
         {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Text grid",
  "tag":"section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": " Color Schema",
      "info": "applies color schema to whole section",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "info": "background Color of container",
      "default": "#f5f5f5"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 30
    }
    ],
  "blocks":[
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Description</p>",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Text grid"
    }
  ]
}
{% endschema %}