{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
<script src="{{'custom-slider.js'| asset_url}}" defer></script>


{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% capture RelatedProductsSlider %}
  {
      "autoplay": {{ section.settings.autoplay }},
      "arrows": {{ section.settings.arrows }},
      "pagination": {{ section.settings.pagination }},
      "perPage": {{ section.settings.perPage }},
      "perMove":1,
      "breakpoints":{
        "640": {
			"perPage": 2
      }
      },
      "speed": {{ section.settings.speed |  append: '000'}},
      "type": "{{ section.settings.slider_type }}",
      "interval":{{ section.settings.interval | append :'000' }},
      "rewind":{{ section.settings.rewind }},
      "gap":"{{ section.settings.gap |  append: 'rem'}}"
  }
{% endcapture %}

<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}"
  >

  <h2 class="related-products__heading inline-richtext ">
        {{ section.settings.heading }}
      </h2>

  <custom-slider data-slider-options='{{ RelatedProductsSlider }}'>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for recommendation in recommendations.products %}
            <li class="splide__slide">
              {% render 'custom-product-card', product: recommendation, section_id: section.id %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </custom-slider>

  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "select",
      "id": "slider_type",
      "label": "Slider Type",
      "options": [
          {
          "value": "loop",
          "label": "Loop"
          },
          {
          "value": "slide",
          "label": "Slide"
          },
          {
          "value": "fade",
          "label": "Fade"
          }
      ],
        "default": "slide"
    },
    {
      "type": "range",
      "id": "perPage",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Per Page",
      "default": 4
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Transition Speed of Slide",
      "default": 1
    },
    {
      "type": "range",
      "id": "interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Slider Autoplay Interval in seconds",
      "default": 1
    },
    {
      "type": "range",
      "id": "gap",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Gap between slides in rem",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Show Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rewind",
      "label": "Rewind Slider",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
